<div jarvis-widget="" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable"
    role="widget">

    <!-- widget div-->
    <div role="content">
        <div class="row">
            <div class="col-md-2">
                <div class="profile-img-container">
                    <!--<canvas id="myCanvas" src="styles/img/avatars/sunny.png" src="styles/img/avatars/sunny.png" width="200" height="100" style="border:1px solid #000000;">-->
                    <img ng-src="styles/img/avatars/sunny.png" src="styles/img/avatars/sunny.png" class="img-thumbnail img-responsive" style="width:100%"
                    />

                    <!--<i class="fa fa-pencil-square-o" ng-click="upload()"></i>-->
                    <div id="input_container" style="width: 0px; height: 0px; overflow: hidden"><input type="file" ng-model="" id="inputfile" /></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="jarviswidget-editbox"><input class="form-control" type="text"></div>
                    <form id="order-form" class="smart-form ng-pristine ng-valid" name="passwordChangeForm" novalidate>
                        <header>
                            Change Password
                        </header>

                        <fieldset>

                            <section>
                                <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.old_password.$invalid && (currentpasswordChangeFormUserForm.old_password.$dirty || submitted)}">
                                    <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                                 <input type="password" class="form-control" ng-model="currentUser.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                            name="old_password" placeholder="Old Password" id="password" ng-required="true">
                     </label>
                                    <p class="validation-error" ng-show="passwordChangeForm.old_password.$error.required && (passwordChangeForm.old_password.$dirty || submitted)"
                                        class="help-block">Your password is required.</p>
                                    <p class="validation-error" ng-show="passwordChangeForm.old_password.$error.pattern && (passwordChangeForm.old_password.$dirty || submitted)"
                                        class="help-block">Must contain minimum 6 characters and 1 special character </p>
                                </div>
                            </section>

                     <section>
                     <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.new_password.$invalid && (passwordChangeForm.new_password.$dirty || submitted)}">
                             <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                                   <input type="password" class="form-control" ng-model="currentUser.new_password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                     name="password" placeholder="New Password" id="password" ng-required="true">
                             </label>
                                   <p class="validation-error" ng-show="passwordChangeForm.new_password.$error.required && (passwordChangeForm.new_password.$dirty || submitted)"
                                   class="help-block">Your password is required.</p>
                                   <p class="validation-error" ng-show="passwordChangeForm.new_password.$error.pattern && (passwordChangeForm.new_password.$dirty || submitted)"
                                   class="help-block">Must contain minimum 6 characters and 1 special character </p>
                     </div>
                    </section>

                     <section>
                       <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.passwordConfirm.$invalid && (passwordChangeForm.passwordConfirm.$dirty || submitted)}">
                             <label class="input"> <i class="icon-prepend fa fa-lock"></i>
                                    <input type="password" class="form-control" ng-model="currentUser.passwordConfirm" name="passwordConfirm" placeholder="Confirm password"
                                            ng-required="true">
                             </label>
                                    <p class="validation-error" ng-show="passwordChangeForm.passwordConfirm.$error.required && (passwordChangeForm.passwordConfirm.$dirty || submitted)"
                                        class="help-block">Your password is required.</p>
                                    <p class="validation-error" ng-show="(passwordChangeForm.passwordConfirm.$dirty && passwordChangeForm.password.$dirty) && (currentUser.new_password !=currentUser.passwordConfirm)"
                                        class="help-block">Your password is not matched</p>
                     </div>
                    </section>
                       <footer>
                           <button type="submit" class="btn btn-primary" ng-click="updateVendor(currentUser)" ng-disabled="!currentUserForm.$valid">
                             Update
                           </button>
                          </footer>

                        </fieldset>
                    </form>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </div>