/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
.validation-error {
    color: #b94a48;
}
 .selected{
	    background-color: #adabaa !important;
}
 .widget-width-role{
  width: 12%;
 }
 .widget-width{
     width: 18%;
 }
 .addbutton{
      padding-right:6%!important;
 }
  .editbutton{
      padding-right: 4%!important;

 }
  .deletebutton{
      padding-right: 6%!important;
 }
body:not(.menu-on-top).desktop-detected {
     min-height: auto!important; 
}

.img-size{
       width: 100%!important;

}
.row-centered {
    text-align:center;
}
.col-centered {
  /*   display:inline-block;
    float:none;
    reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.validation-error
{
    color:#b94a48!important;
}
label input[type=checkbox].checkbox:checked+span {
     font-weight: -2 !important; 
     margin-left: 0px;
      
}
.checkbox-inline input[type=checkbox].checkbox+span
{
    margin-left: 0px;
}
.module-selecion{
display:inline;
}
.checkbox input[type=checkbox].checkbox+span{
    margin-left: 0px !important;
}
.tabs-left>.nav-tabs>li>a{
    min-width: 200px;
}
.category-tab-pane{
    padding-top:10px;
}
.categorylink{
    float:left;
}