
<div jarvis-widget="" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" role="widget">
    
    <!-- widget div-->
    <div role="content">
        <div class="row">
            <div class="col-md-2">
                <div class="profile-img-container">
                    <!--<canvas id="myCanvas" src="styles/img/avatars/sunny.png" src="styles/img/avatars/sunny.png" width="200" height="100" style="border:1px solid #000000;">-->
                    <img ng-src="styles/img/avatars/sunny.png" src="styles/img/avatars/sunny.png" class="img-thumbnail img-responsive" style="width:100%" />

                    <!--<i class="fa fa-pencil-square-o" ng-click="upload()"></i>-->
                    <div id="input_container" style="width: 0px; height: 0px; overflow: hidden"><input type="file" ng-model="" id="inputfile" /></div>
                </div>
            </div>
         
<div class="col-sm-6 col-md-6">
        <!-- widget content -->
        <div class="widget-body no-padding"><div class="jarviswidget-editbox"><input class="form-control" type="text"></div>
            <form id="order-form" class="smart-form ng-pristine ng-valid" name="currentUserForm" novalidate>
    <header>
        Update Profile
    </header>

  <fieldset>

      <section>
             <div class="form-group" ng-class="{ 'has-error' : currentUserForm.first_name.$invalid && (currentUserForm.first_name.$dirty || submitted)}">
            <label class="input"> <i class="icon-prepend fa fa-user"></i>
           <input type="text" ng-model="currentUser.first_name" id="first_name" class="form-control" name="first_name" placeholder="First Name"
              required>
            </label>
            <p class="validation-error" ng-show="currentUserForm.first_name.$error.required && (currentUserForm.first_name.$dirty || submitted)"
             class="help-block">First Name is Required.</p>
             </div>
      </section>

        <section>
               <div class="form-group" ng-class="{ 'has-error' : currentUserForm.last_name.$invalid && (currentUserForm.last_name.$dirty || submitted)}">
            <label class="input"> <i class="icon-prepend fa fa-user"></i>
            <input type="text" ng-model="currentUser.last_name" id="last_name" class="form-control" name="last_name" placeholder="Last Name"
                            required>
            </label>
               <p class="validation-error" ng-show="currentUserForm.last_name.$error.required && (currentUserForm.last_name.$dirty || submitted)"
                  class="help-block">Last Name is Required.</p>
              </div>
        </section>

        <section>
              <div class="form-group" ng-class="{ 'has-error' : currentUserForm.email.$invalid && (currentUserForm.email.$dirty || submitted)}">
            <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
                <input type="email" ng-model="currentUser.email" name="email" class="form-control" placeholder="Email" ng-required="true"
                            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            </label>
                     <p class="validation-error" ng-show="currentUserForm.email.$error.required && (currentUserForm.email.$dirty || submitted)"
                        class="help-block">Email is Required.</p>
                     <p class="validation-error" ng-show="currentUserForm.email.$error.pattern && (currentUserForm.email.$dirty || submitted)"
                        class="help-block">Please Enter Valid Email Id.</p>
                    </div>
        </section>

        <section>
               <div class="form-group" ng-class="{ 'has-error' : currentUserForm.mobile_number.$invalid && (currentUserForm.mobile_number.$dirty || submitted)}">
            <label class="input"> <i class="icon-prepend fa fa-mobile"></i>
                <input type="number" class="form-control" ng-model="currentUser.mobile_number" name="mobile_number" placeholder="Mobile Number"
                            ng-pattern="^\+(?:[0-9]●?){6,14}[0-9]$" ng-minlength="10" ng-maxlength="15" ng-required="true">
            </label>
            <p class="validation-error" ng-show="((currentUserForm.mobile_number.$error.minlength ||
                        currentUserForm.mobile_number.$error.maxlength) && 
                        currentUserForm.mobile_number.$dirty)" class="help-block">Please Enter 10 digit Mobile number.</p>
                    </div>
        </section>

  </fieldset>

 
    <fieldset>
        <section>
            <div class="input input-file">
                 <!--<span class="button"><input id="file2" type="file" ng-model="profilepic" name="profilepic" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Upload profile picture" readonly="">-->
        <input type="file" file-model="myFile"/>
            </div>
               <!--<input type="file" style="display:none" 
                id="file" name='file' onchange="angular.element(this).scope().fileNameChanged(this)" />-->
        </section>

        <!--<section>
            <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                <textarea rows="5" name="comment" placeholder="Tell us about your project"></textarea>
            </label>
        </section>-->
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-primary" ng-click="updateVendor(currentUser)" ng-disabled="!currentUserForm.$valid">
            Update
        </button>
    </footer>
</form>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
</div>
