<div jarvis-widget="" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable"
    role="widget">
    <!-- widget options:
        usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">
        
        data-widget-colorbutton="false"	
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true" 
        data-widget-sortable="false"
        
    -->
    <div role="content">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-6 col-md-6">

                <!-- widget div-->
                <div role="content">


                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="jarviswidget-editbox"><input class="form-control" type="text"></div>
                        <form id="order-form" class="smart-form ng-pristine ng-valid" name="passwordChangeForm" novalidate="novalidate">
                            <header>
                                <h2> Select Modules and Categories </h2>
                            </header>

                            <fieldset>
                                <div class="row">

                                    <section>
                                        <label ng-repeat="module in modules track by $index" class="checkbox module-selecion">
                             
                                 <input ng-change="moduleClikced(module,$index)" type="checkbox" ng-model="module.isSelected" class="checkbox">
                                  <span>  {{module.name}}</span>
                              
                                 <div ng-show="showSubModule{{$index}}" id="subModule{{$index}}" style="padding-left: 30px;"/>

                                    <div id="subMenuItems{{$index}}" ng-show="hide" >
                                        <label ng-repeat="subModule in module.subModules" class="checkbox">
                                            <input type="checkbox" ng-model="subModule.isSelected" class="checkbox checkbox-inline"> 
                                            <span> {{subModule.name}}</span>
                                        </label>
                                </div>
                                </label>
                    </div>

                    </section>

                    </fieldset>
                    </fieldset>


                    <footer>
                        <button type="submit" class="btn btn-primary" ng-click="updateVendor(currentUser)" ng-disabled="!currentUserForm.$valid">
                            SAVE
                           </button>
                    </footer>
                    </form>

                </div>
            </div>
        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>