<div class="login-info ng-cloak">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->
        <a  href="" toggle-shortcut>
            <!--<img ng-src="{{user.picture}}" alt="me" class="online">-->
                <span>{{user.username}}
                </span>
            <i class="fa fa-angle-down"></i>
        </a>
     </span>
</div>