
<header class="app-header navbar">
  <style>
    
/* Popup container - can be anything you want */
 

.textmenu,subMenuForFolders{
    display:none;
  background-color:#a0938f;
  border-radius: 6px;
  color:white;
  text-align: left;
      z-index: 37;
    margin-left:85px;
    position: fixed;
    width:auto;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
        top: 29%;
}

.context-menu-p{
      margin-bottom: 3px;
}
    </style>
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a  style="color:black;margin-left:-15px;" id="toglerbtn" class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    <!--<b style="font-size:19px;color:black;"> RepindexApp</b>-->
    <img src="assets/img/LOG.png" style="width: 200px;
    height: 54px;margin-left:-50px;">
  
  </ul>
  <ul class="nav navbar-nav ml-auto">
   
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a style="color:black;" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <span class="hidden-md-down" style="color:black;">{{userName}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>Account</strong></div>

      
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <li class="nav-item hidden-md-down">
      <a style="display:none;"class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
    </li>
  </ul>
  
</header>

<div class="app-body" (click)="allClose()"  >
  <div class="sidebar" >
    <nav class="sidebar-nav">

   <div *ngIf="username==='admin'">
   <ul class="nav">
    <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-user"style="color:#FFA500;"></i>Clients</a>
        </li>
     </ul>
   </div>



   <div *ngIf="project==='afterproject'">
    
   <ul class="nav">
       <!--Project Name-->
          <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-book fa-lg mt-4"></i>{{projectName}}</a>
          
        </li>

         <!--Project Name-->
          <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-search-plus fa-lg mt-4"></i> Query</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" (click)="newQueryPgae()"><i class="icon-puzzle"></i>New Query</a>
            </li>
           
          </ul>
        </li>
         <!--Query-->
 
          <!--TEXT LIST-->
         <li class="nav-item nav-dropdown" routerLinkActive="open">
             <a    (contextmenu)="demo1($event)" class="nav-link nav-dropdown-toggle" href="#">
             <i  class="fa fa-file-text fa-lg mt-4" ></i> Text List
             
             </a>
              <div class="textmenu" id="m1">
             <p  (click)="addNewFolderToTextList()" style="cursor:pointer;"  class="context-menu-p"> New Folder</p>
             <p   (click)="closem1()" style="cursor:pointer;"  class="context-menu-p">Quit</p>
            </div> 
            
           
          <ul class="nav-dropdown-items">
            <li  *ngFor="let folder  of textlistfolders" class="nav-item nav-dropdown">
               <a (contextmenu)="demo3($event)" class="nav-link nav-dropdown-toggle" id="{{folder.id}}@{{folder.folder}}"  >
                 <i class="fa fa-folder fa-lg mt-4" style="font-size:19px;margin-left: 22px;color:yellow;cursor:pointer;"></i>
                 {{folder.folder}}
                  
                 </a>
                  <div class="textmenu" id="m3">
                   <p (click)="addNewTextList()"style="cursor:pointer;" class="context-menu-p">Add TextList</p>
                   <p (click)="renameTextListFolder()" style="cursor:pointer;"  class="context-menu-p">Rename folder</p>
                   <p (click)="deleteTextListFolder()"  class="context-menu-p">Delete Folder</p>
                    <p (click)="closem3()" style="cursor:pointer;"  class="context-menu-p">Quit</p>
              <input type="hidden"  id="hiddenId-of">
              <input type="hidden"  id="textOfFolder">
          </div> 
               
          
                           <ul>
                               <li  class="nav-item nav-dropdown" *ngFor="let list of folder.tl">
                               <a class="nav-link  ">
                               <i  class="fa fa-file-word-o fa-lg mt-4"></i>
                                {{list.file_name}}
                           </a>
                      </ul>  
            </li>
           
          </ul>
        </li>
       

         <!--Concept List-->
         <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a   (contextmenu)="demo2($event)" class="nav-link nav-dropdown-toggle" href="#" >
                     <i class="fa fa-list fa-lg mt-4"></i> 
                     Concept List
                     </a>
                       <div class="textmenu" id="m2">
                  <p (click)="newConceptListImport()" style="cursor:pointer;"  class="context-menu-p">Import csv file</p>
                   <p (click)="closem2()" style="cursor:pointer;"  class="context-menu-p">Quit</p>
               
             </div> 
                     <ul class="nav-dropdown-items">

            <li *ngFor="let conceptlist  of concept" class="nav-item nav-dropdown">
              <a (contextmenu)="showConceptListMenu($event)" class="nav-link nav-dropdown-toggle" id="{{conceptlist.name}}@{{conceptlist.id}}">
              <i class="fa fa-file-text fa-lg mt-4;"></i>
              {{conceptlist.name}} 
              </a>
                  <div class="textmenu" id="m4">
                  <p (click)="renameConceptList()" style="cursor:pointer;"  class="context-menu-p">Rename concept list</p>
                <p  (click)="deleteConceptList()" style="cursor:pointer;"  class="context-menu-p">Delete concept list</p>
                <p (click)="closem4()" style="cursor:pointer;"  class="context-menu-p">Quit</p>
                <input type="hidden"  id="hiddenId-of-concept-list">
              <input type="hidden"  id="textOfConceptList">
             </div> 
                  <ul>
                  <li  class="nav-item nav-dropdown" *ngFor="let item of conceptlist.values" >
                     <a (contextmenu)="showConceptListMenuUmbrella($event)"  id="{{item.umbrella}}@{{item.terms}}" class="nav-link nav-dropdown-toggle">
              <i  class="fa fa-arrows-v fa-lg mt-4"></i>
              {{item.umbrella}}
              </a>
                  <div class="textmenu" id="m5">
                   <p (click)="insertIntosearch()"style="cursor:pointer;"  class="context-menu-p">Insert into search</p>
            <p (click)="insertintoand()" style="cursor:pointer;"  class="context-menu-p">Insert into and</p>
                <p (click)="addNewTextList()"style="cursor:pointer;"  class="context-menu-p"> Rename concept</p>
            <p (click)="renameTextListFolder()" style="cursor:pointer;"  class="context-menu-p">Delete concept</p>
            <p (click)="closeM5()" style="cursor:pointer;"  class="context-menu-p">Quit</p>
            <input type="hidden"  id="hidenTermsOfUmbrella">
              <input type="hidden"  id="hidenUmbrella">
           </div> 
                      <ul>
                          <li  class="nav-item nav-dropdown" *ngFor="let child of  item.lst_terms">
                           <a class="nav-link  ">
                            <i  class="fa fa-long-arrow-right fa-lg mt-4"></i>
                             {{child}}
                           </a>
                      </ul>  
                          
                  </li>
                  </ul>
                
            </li>
           
          </ul>
        </li>
        <!--COncept List-->
        </ul>
   </div>
   
    <div *ngIf="project==='addproject'">
    
   </div>
   


     
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

 

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

  <!--ADD FOLDER-->

   <button id="uniq"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal.show()">
            Launch demo modal
          </button>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel" style=font-size:15px;>New Folder</h6>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<input type="text" class="form-control" id="text-list-new-folder-name" placeholder="Add new folder">  
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="createNewFolder()" style=background-color:#FFA500;color:black;>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--RENAME FOLDER-->
 <button id="renameFolder"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal1.show()">
            REname Folder
          </button>
<div bsModal #myModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style=font-size:15px;>Rename folder</h4>
        <button type="button" class="close" (click)="myModal1.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
      <div class="modal-body">
          <input type="text" class="form-control" id="folderRenameText">  
          <input type="text" hidden class="form-control" id="folderRenameId"> 
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal1.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="renameFolder()" style=background-color:#FFA500;color:black;>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--DELETE FOLDER-->
 <button id="deleteFolder"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal2.show()">
            delete
          </button>
<div bsModal #myModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style=font-size:15px;>Delete folder</h4>
        <button type="button" class="close" (click)="myModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
      <div class="modal-body">
           <p>Do you really want to delete this folder....?
          <input type="text" hidden class="form-control" id="folderDeleteId"> 
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal2.hide()">Close</button>
        <button style="background-color:#FFA500;color:black;" type="button" class="btn btn-primary" (click)="deleteFolder()">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--ADD TEXT LIST-->
 <button id="addTextList"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal3.show()">
            newTextList
          </button>
<div bsModal #myModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style=font-size:15px;>New Text List</h4>
        <button type="button" class="close" (click)="myModal3.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>  
      <div class="modal-body">
            
          <input type="file" (change)="fileChangeEvent($event)" name="text-list-new" class="form-control" id="newTextListFile"> 
          <input type="hidden" id="id-hidden-for-new-text-list">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal2.hide()">Close</button>
        <button   type="button" class="btn btn-primary" (click)="addTextList()" style=background-color:#FFA500;color:black;>Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--ADD CONCEPT LIST-->
 <button id="addConceptList"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal4.show()">
            newconceptlist
          </button>
<div bsModal #myModal4="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style=font-size:15px;>New Concept List</h4>
        <button type="button" class="close" (click)="myModal4.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>  
      <div class="modal-body">
            
          <input type="file" (change)="fileChangeEvent2($event)" name="text-list-new" class="form-control" id="newConceptListFile"> 
           
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal4.hide()">Close</button>
        <button   type="button" class="btn btn-primary" (click)="addConceptList()" style=background-color:#FFA500;color:black;>Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--DELETE CONCEPT LIST-->
 <button id="deleteConceptList"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal5.show()">
            deleteconceptlist
          </button>
<div bsModal #myModal5="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style=font-size:15px;>Delete Concept List</h4>
        <button type="button" class="close" (click)="myModal5.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>  
      <div class="modal-body">
        Do you really want to delete this concept list....?
             <input type="hidden" id="delete-concept-list-hidden-pop">
           
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal5.hide()">Close</button>
        <button  style="background-color:#FFA500; color:black;;" type="button" class="btn btn-primary" (click)="deleteeConceptList()">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--RENAME CONCEPT LIST-->
 <button id="renameConceptList"  hidden type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal6.show()">
          renameconceptlist
          </button>
<div bsModal #myModal6="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"style=font-size:15px;>Rename Concept List</h4>
        <button type="button" class="close" (click)="myModal6.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>  
      <div class="modal-body">
             
             <input type="hidden" id="pop-up-concpt-id" >
              <input type="text" id="pop-up-concept-name"  class="form-control"  >
           
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal6.hide()">Close</button>
        <button  style="background-color:#FFA500; color:black;" type="button" class="btn btn-primary" (click)="renameeConceptList()">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <aside class="aside-menu">
    <tabset>
      <tab>
        <template tabHeading><i class="icon-list"></i></template>
        <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase">
          <small><b>Today</b></small>
        </div>
        <hr class="transparent mx-1 my-0">
        <div class="callout callout-warning m-0 py-1">
          <div class="avatar float-right">
            <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
          <div>Meeting with <strong>Lucas</strong></div>
          <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
          <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA </small>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-info m-0 py-1">
          <div class="avatar float-right">
            <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
          <div>Skype with <strong>Megan</strong></div>
          <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
          <small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line </small>
        </div>
        <hr class="transparent mx-1 my-0">
        <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase">
          <small><b>Tomorrow</b></small>
        </div>
        <hr class="transparent mx-1 my-0">
        <div class="callout callout-danger m-0 py-1">
          <div>New UI Project - <strong>deadline</strong></div>
          <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
          <small class="text-muted"><i class="icon-home"></i>&nbsp; Repindex </small>
          <div class="avatars-stack mt-h">
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
          </div>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-success m-0 py-1">
          <div><strong>#10 Startups.Garden</strong> Meetup</div>
          <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
          <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA </small>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-primary m-0 py-1">
          <div><strong>Team meeting</strong></div>
          <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
          <small class="text-muted"><i class="icon-home"></i>&nbsp; Copyright © 2017 Repindex Ltd. All rights reserved.</small>
          <div class="avatars-stack mt-h">
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div class="avatar avatar-xs">
              <img src="assets/img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
          </div>
        </div>
        <hr class="mx-1 my-0">
      </tab>
      <tab>
        <template tabHeading><i class="icon-speech"></i></template>
        <div class="p-1">
          <div class="message">
            <div class="py-1 pb-3 mr-1 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-q">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-1 pb-3 mr-1 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-q">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-1 pb-3 mr-1 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-q">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-1 pb-3 mr-1 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-q">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-1 pb-3 mr-1 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-q">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
        </div>
      </tab>
      <tab>
        <template tabHeading><i class="icon-settings"></i></template>
        <div class="p-1">
          <h6>Settings</h6>

          <div class="aside-options">
            <div class="clearfix mt-2">
              <small><b>Option 1</b></small>
              <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>

          <div class="aside-options">
            <div class="clearfix mt-1">
              <small><b>Option 2</b></small>
              <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>

          <div class="aside-options">
            <div class="clearfix mt-1">
              <small><b>Option 3</b></small>
              <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>

          <div class="aside-options">
            <div class="clearfix mt-1">
              <small><b>Option 4</b></small>
              <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>

          <hr>
          <h6>System Utilization</h6>

          <div class="text-uppercase mb-q mt-2"><small><b>CPU Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">348 Processes. 1/4 Cores.</small>

          <div class="text-uppercase mb-q mt-h"><small><b>Memory Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">11444GB/16384MB</small>

          <div class="text-uppercase mb-q mt-h"><small><b>SSD 1 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">243GB/256GB</small>

          <div class="text-uppercase mb-q mt-h"><small><b>SSD 2 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">25GB/256GB</small>
        </div>
      </tab>
    </tabset>
  </aside>
</div>


<footer class="app-footer">
  <a href="http://coreui.io"></a> Copyright © 2017 Repindex Ltd. All rights reserved.
  <span class="float-right"> </span>
</footer>





