<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Plan']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <!--<div ng-show="success">
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Success</strong> {{result}}.
                    </div>
                </div>
                <div ng-show="failed">
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-times"></i>
                        <strong>Error!</strong> {{result.result}}
                    </div>
                </div>-->
                <div data-jarvis-widget id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false"
                    data-widget-color="darken">
                    <header>
                        <span class="widget-icon"></span>
                        <h2>Plan Management</h2>

                        <div class="widget-toolbar margin-right-10 widget-width">
                            <span class="widget-icon margin-right-10 addbutton" ng-click="adminAction='Add';addAdmin();"> <i class="fa fa-plus fa-lg"></i> Add </span>
                            <span class="widget-icon margin-right-10 editbutton" ng-click="adminAction='Edit';editAdmin();"> <i class="fa fa-pencil-square-o"></i> Edit </span>
                            <span class="widget-icon margin-right-10 deletebutton" ng-click="deleteAdmin();"> <i class="fa fa-trash-o fa-lg"></i> Delete </span>
                        </div>

                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable='ng' dt-options="standardOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th> Plan ID</th>
                                        <th> Plan Name</th>
                                        <th> Expires in</th>
                                        <th> Status</th>
                                        <th> Last modified</th>
                                        <th> Action</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td>shiv</td>
                                    <td>Hotel</td>
                                    <td>Resort</td>
                                    <td>100</td>
                                    <td>Active</td>
               
                                    </tr>
                                    <tr ng-repeat=" admin in admins" ng-click="setAdmin(admin,$index)" ng-class="{selected: currentAdminIndex === $index}">
                                     
                            
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>