<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active" ng-if="permission.Dashboard == 'true'">
                <a data-ui-sref="app.dashboard" title="Dashboard">
                    <i class="fa fa-lg fa-fw  fa-dashboard"></i> <span class="menu-item-parent">{{getWord('Dashboard')}}</span></a>
            </li>
            <li data-ui-sref-active="active" ng-if="permission.Global Settings == 'true'">
                <a data-ui-sref="app.category" title="Global Settings">
                    <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">{{getWord('Global Settings')}}</span></a>
            </li>
            <li data-ui-sref-active="active" ng-if="permission.Roles == 'true'">
                <a data-ui-sref="app.roles" ng-click="roles()" title="Roles">
                    <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">{{getWord('Roles')}}</span></a>
            </li>
            <li data-ui-sref-active="active" ng-if="permission.Admin == 'true'">
                <a data-ui-sref="app.admin" ng-click="admins()" title="Admin">
                    <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">{{getWord('Admin')}}</span></a>
            </li>
            <li data-menu-collapse class="top-menu-invisible" >
                <a href="#"><i class="fa fa-lg fa-fw  fa-eye"></i></i> <span class="menu-item-parent">{{getWord('Users')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active" >
                        <a data-ui-sref="app.vendors" ng-click="vendors();"><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('Vendors')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.consumers" ng-click="consumers();"><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('Consumers')}}</a>
                    </li>
                    <!--<li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayout"><i class="fa fa-cube"></i> {{getWord('App Settings')}}</a>
                    </li>-->
                </ul>
            </li>
            <li data-menu-collapse class="top-menu-invisible" ng-if="permission.Email Template == 'true'">
                <a href="#"><i class="fa fa-lg fa-fw  fa-eye"></i></i> <span class="menu-item-parent">{{getWord('Email Template')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active" ng-if="permission.Notification == 'true'">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('Notification')}}</a>
                    </li>
                    <li data-ui-sref-active="active" ng-if="permission.Email == 'true'">
                        <a data-ui-sref="app.email"><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('Email')}}</a>
                    </li>
                    <!--<li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayout"><i class="fa fa-cube"></i> {{getWord('App Settings')}}</a>
                    </li>-->
                </ul>
            </li>

            <!--<li data-ui-sref-active="active">
                <a data-ui-sref="" title="Area">
                    <i class="fa fa-lg fa-fw fa-eye"></i> <span class="menu-item-parent">{{getWord('CMS')}}</span></a>
            </li>-->
            <li data-ui-sref-active="active" ng-if="permission.Categories == 'true'">
                <a data-ui-sref="" title="Area">
                    <i class="fa fa-lg fa-fw fa-eye"></i> <span class="menu-item-parent">{{getWord('Categories')}}</span></a>
            </li>

            <li data-menu-collapse class="top-menu-invisible">
                <a data-ui-sref="app.advertisement"><i class="fa fa-lg fa-fw fa-adn"></i></i> <span class="menu-item-parent">{{getWord('Advertisement')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.postedAids"><i class="fa fa-lg fa-fw  fa-tags"></i></i>
                            {{getWord('Posted Ads')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.reviews"><i class="fa fa-lg fa-fw   fa-star"></i></i>
                            {{getWord('Ad Reviews')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.transaction"><i class="fa fa-lg fa-fw   fa-money"></i></i>
                            {{getWord('Transactions')}}</a>
                    </li>
                </ul>
            </li>

            <li data-ui-sref-active="active" ng-if="permission.Hotel == 'true'">
                <a data-ui-sref="" title="Area">
                    <i class="fa fa-lg fa-fw  fa-building"></i> <span class="menu-item-parent">{{getWord('Hotel')}}</span></a>
            </li>
            <li data-menu-collapse class="top-menu-invisible" ng-if="permission.CMS == 'true'">
                <a href="#"><i class="fa fa-lg fa-fw fa-file-text"></i></i> <span class="menu-item-parent">{{getWord('Manage CMS')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('About Us')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw  fa-certificate"></i></i>
                            {{getWord('Privacy policy')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw  fa-certificate"></i></i>
                            {{getWord('Terms and Conditions')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw fa-cubes"></i></i>
                            {{getWord('Blogs')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref=""><i class="fa fa-lg fa-fw fa-question"></i></i>
                            {{getWord('FAQ')}}</a>
                    </li>
                </ul>
            </li>
            <!--<li>
                <a data-ui-sref="app.profile" title="Area">
                    <i class="fa fa-lg fa-fw fa-eye"></i> <span class="menu-item-parent">{{getWord('Profile')}}</span></a>
            </li>-->
            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-user"></i></i> <span class="menu-item-parent">{{getWord('Personal')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.profile"><i class="fa fa-lg fa-fw fa-user"></i></i>
                            {{getWord('My Profile')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.settings"><i class="fa fa-lg fa-fw  fa-gear"></i></i>
                            {{getWord('My Setting')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.preferences"><i class="fa fa-lg fa-fw  fa-certificate"></i></i>
                            {{getWord('My Preferences')}}</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse class="top-menu-invisible">
                <a data-ui-sref="app.myadvertisement"><i class="fa fa-lg fa-fw fa-adn"></i></i> <span class="menu-item-parent">{{getWord('My Advertisement')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.addpost"><i class="fa fa-lg fa-fw fa-tags"></i></i>
                            {{getWord('Post an ad')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.myposts"><i class="fa fa-lg fa-fw fa-tag"></i></i>
                            {{getWord('My Post')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.messages"><i class="fa fa-lg fa-fw fa-comment"></i></i>
                            {{getWord('Messages')}}</a>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>