<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>Login</h1>
              <div class="alert alert-danger" *ngIf="loginfail">
                Please check your username and password
                </div>
              <p class="text-muted">Sign In to your repindex account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" (keyup)="validateUsername($event)" class="form-control" placeholder="Username" #username>

              
              </div>
                <div *ngIf="usernameStatusError" class="alert alert-danger">
                Username is required
                </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" (keyup)="validatePassword($event)" class="form-control" placeholder="Password" #password>
                 
              </div>
               <div *ngIf="passwordStatusError"class="alert alert-danger">
                Password is required
                </div>
              <div class="row">
                <div class="col-6">
                  <button style="background-color:#FFA500	;color:black;font-weight: bold;" type="button" (click)="authenticate(username.value,password.value)" [disabled]="!validationStatus"  class="btn btn-primary px-2">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button style="color:#FFA500	;" type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
