
<div class="container" style="    width: 99%;margin-top:20px;">
<style>
  ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #fff;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {color:#009dff;}
.floating-box {
    float: left;
  
    margin: 10px;
    border: 1px solid #73AD21;  
}

div.scroll {
    background-color: #f1f1f1;
    width: 400px;
    height: 200px;
    overflow: scroll;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

#thid {
    background-color:#FFA500;
    color:black;
}
</style>

</div>
<ul class="breadcrumb">
  <li><a style="cursor:pointer" (click)="projectgo()">Home</a></li>
  <li><a style="cursor:pointer" (click)="newquery()">New Query</a></li>
</ul>
  
  
<div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="card" >
        
        <div class="card-block">
        <div class="row">
    <div class="col-sm-6">
      Query Type
      <p style="margin-top:38px;">Result Type</p>
     
    </div>
    <div class="col-sm-6">
     <select class="form-control" id="sel1">
        <option>test</option>
        <option>local</option>
        </select>
      <br>
        <select class="form-control" id="sel1"  [(ngModel)]="selectedCity" (ngModelChange)="onChange($event)" >
       
        <option value="Concordance">Concept</option>
        <option value="self">Concept Self </option>
        <option value="cluster">Cluster</option>
        <option value="Frequency">Frequency</option>
      </select>
    </div>
     <br><br>

   <div class="form-group" *ngIf="constatus "  id="consearch" style="margin-left:3%;padding-top: 3%;">
          
            <input type="hidden" class="form-control" name="lst_toi" id="lst_toi" placeholder="search" >
            <input type="text" class="form-control" name="lst_toi1" id="lst_toi1" placeholder="Search" >
          </div>&nbsp;
          <div class="form-group" *ngIf="constatus">
            
            <input type="text"   style="margin-top: 7%;margin-left: 25%;width:106%;" class="form-control" id="and" placeholder="And">
              
          </div>
   <div class="form-group row" style="margin-left:49%;" *ngIf="cluster">
               <p id="cluster" style="margin-left:-85%;"> Cluster pair</p>
              <label class="col-md-7 form-control-label" for="textarea-input"></label>
              <div class="col-md-11">
                <textarea id="textarea-input"  name="txtarea_cluster_pairs" id="txtarea_cluster_pairs" rows="5" cols="20" class="form-control" placeholder="Content.."></textarea>
              </div>
            </div>
      <br>
      <label for="sel1" style="margin-left:2%;margin-top:3%" *ngIf="self">Concept list</label>&nbsp;
      <select class="form-control " id="sel1" *ngIf="self" style="margin-left:34%;width:44%;margin-top:3%"  [(ngModel)]="concept" (ngModelChange)="conceptlist($event)" >
        <option [ngValue]="undefined" selected>select</option>
        <option *ngFor="let t of getconcept" value={{t.pk}}>{{t.fields.name
}}</option>
        
      </select>
      
<br>
    <div id="but" style="padding-top:0%;">
    <div class="floating-box">
    <button   (click)="concordanceapi()" style="color:black;background-color:#FFA500;border:1px solid #fd7a2b;cursor:pointer;"type="button" class="btn btn-primary" >
    <b>Run</b></button>
    </div>
    <div class="floating-box"> 
   <button  style="color:black;background-color:#FFA500;border:1px solid #FFA500;cursor:pointer;" type="button" class="btn btn-primary"  >
     <b>Save</b></button>
     </div>
     </div>
       </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-6">
      <div class="card" style="height: 262px !important;">
       
        <div class="card-block" >
         <div  class="scroll" style="width:100%;height:220px;" >
             <div *ngFor="let data  of textdata">
             <p style="display:none">{{data.pk}}</p>
            <input type="checkbox" (click)="selectedtextlist(data.pk)"> {{data.fields.name}}
           </div> 
              
          
         </div>
        </div>
      
      </div>
    </div><!--/.col-->
  
  </div>
  <div class="card" *ngIf="!showTable" style="height:50px; text-align:CENTER;">
  <div class="card-block">
  No data Available
  </div>
  </div>
  <div class="card" *ngIf="showTable" style="
    height: 400px;
    overflow: scroll;">
        
        <div class="card-block">
<table id="tableshow" style="width:100%">

    <thead *ngIf="showTable">
      <tr class="table-design" id="thid">
        <th class="">ID</th>
        <th class="">Text list</th>
        <th class="" style="margin-left:3%">Left</th>&nbsp;&nbsp;
        <th class="" style="margin-left:3%">Search</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <th class="" >Right</th>&nbsp;&nbsp;&nbsp;
        <th class="">View</th>
     
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conobj of concordanceObject;let i = index ">
          <td> {{i+1}}</td>
          <td data-toggle="tooltip" data-placement="left" title={{conobj.text_list}}>{{test(conobj.text_list)}}</td>
          <td data-toggle="tooltip" style="margin-left:3%" data-placement="left" title={{conobj.left}}>{{left(conobj.left)}}</td>&nbsp;&nbsp;
          <td style="margin-left:5%;" >{{conobj.toi}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td data-toggle="tooltip"  data-placement="left" title={{conobj.right}}>{{right(conobj.right)}}</td>&nbsp;&nbsp;&nbsp;
           <td><a (click)="navigateToEditor(conobj.file_id,conobj.right,conobj.left,conobj.toi)" style="color:#009dff;cursor:pointer;">View Result</a></td>
    </tr>
    </tbody>
    </table>
  
</div></div>

  <!-- ADD PROJECT MODEL POP UP -->
  



<!--RENAME PROJECT-->

<!-- Modal -->



<!--DELETE PROJECT CONFIRM-->


<!-- Modal -->
