<br>
<style>
#cke_editor1
{
	style="height: 620 !important";
}
</style>
 <!-- <ckeditor
    [(ngModel)]="ckeditorContent"
    [config]="{uiColor: ''}"
    [readonly]="false"
    (change)="onChange($event)"
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    debounce="500">
  </ckeditor>  -->
   <ckeditor [(ngModel)]="content" [config]="{height: 500}" debounce="500" >
      
    </ckeditor> 
 