<div class="modal-body" >
	<form class="smart-form" >
	    <header>{{action}} {{model}}</header>
	    <fieldset>
	        <h5>Please select record which you want to {{action}}?</h5>        
	    </fieldset>
	    <footer>
	        <button class="btn btn-default" ng-click="closeModal();">OK</button>          
	    </footer>
	</form>
</div>
