<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Consumer']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">

                <div data-jarvis-widget id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false"
                    data-widget-color="darken">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Consumer Management</h2>

                        <div class="widget-toolbar margin-right-10 widget-width">
                            <!--   <span class="widget-icon margin-right-12" ng-click="addADMIN();"> <i class="fa fa-plus fa-lg"></i> Add </span>-->
                            <span class="widget-icon margin-right-10 editbutton" ng-click="consumerAction='Edit';editConsumer();"> <i class="fa fa-pencil-square-o"></i> Edit </span>
                            <span class="widget-icon margin-right-10 deletebutton" ng-click="deleteConsumer();"> <i class="fa fa-trash-o fa-lg"></i> Delete </span>
                        </div>

                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable='ng' dt-options="standardOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th> First Name</th>
                                        <th> Email</th>
                                        <th> Status</th>
                                        <th> Created On</th>
                                        <th> Email Verified</th>
                                        <th> Resend Link</th>
                                        <th> Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat=" consumer in consumers" ng-click="setConsumer(consumer,$index)" ng-class="{selected: currentConsumerIndex === $index}">
                                        <td>{{consumer.first_name}}</td>
                                        <td>{{consumer.email}}</td>
                                        <td ng-if="consumer.status == 'active'"><span class="btn btn-success btn-sm" ng-click="changeStatus(consumer)">Active</span></td>
                                        <td ng-if="consumer.status == 'pending'"><span class="btn btn-primary btn-sm" ng-click="changeStatus(consumer)">In Active</span></td>
                                        <td>{{consumer.create_date}}</td>
                                        <td ng-if="consumer.emailverify == 'yes'"><span class="btn btn-success btn-sm" ng-click="emailVerify(consumer)">Yes</span></td>
                                        <td ng-if="consumer.emailverify == 'no'"><span class="btn btn-primary btn-sm" ng-click="emailVerify(consumer)">No</span></td>
                                        <td><span class="btn btn-primary btn-sm" ng-click="sendEmail(consumer);">Send</span></td>
                                        <td><span class="btn btn-primary btn-sm" ng-click=editConsumer();>View</span></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="modal fade" id="addConsumerPopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{consumerAction}} Consumer</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid" name="consumerForm" novalidate>
                            <fieldset>
                                <input type="hidden" ng-model="newConsumer.role_id = role.id">
                                <div>
                                    <div class="form-group has-feedback">
                                        <div class="form-group" ng-class="{ 'has-error' : consumerForm.first_name.$invalid && (consumerForm.first_name.$dirty || submitted) }">
                                            <label class="control-label col-sm-3 col-md-3">{{getWord('First Name')}} </label>
                                            <section class="col-sm-8 col-md-8">
                                                <input type="text" class="form-control" name="first_name" ng-model="newConsumer.first_name" required>
                                                <div>
                                                    <p class="validation-error" ng-show="consumerForm.first_name.$error.required && (consumerForm.first_name.$dirty || submitted)"
                                                        class="help-block">First Name is Required.</p>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : consumerForm.last_name.$invalid && (consumerForm.last_name.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Last Name')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="text" class="form-control" name="last_name" ng-model="newConsumer.last_name" required>
                                            <p class="validation-error" ng-show="consumerForm.last_name.$error.required && (consumerForm.last_name.$dirty || submitted)"
                                                class="help-block">Last Name is Required.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : consumerForm.email.$invalid && (consumerForm.email.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Email')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="email" class="form-control" name="email" ng-model="newConsumer.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                            <p class="validation-error" ng-show="consumerForm.email.$error.required && (consumerForm.email.$dirty || submitted)" class="help-block">Email is Required.</p>
                                            <p class="validation-error" ng-show="consumerForm.email.$error.pattern && (consumerForm.email.$dirty || submitted)" class="help-block">Please Enter Valid Email Id.</p>
                                        </section>
                                    </div>
                                </div>
                                <!--<div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : consumerForm.password.$invalid && (consumerForm.password.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Password')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="password" class="form-control" name="password" ng-model="newConsumer.password" ng-minlength="8" ng-maxlength="20"
                                                ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-required="true">
                                            <p class="validation-error" ng-show="consumerForm.password.$error.required && (consumerForm.password.$dirty || submitted)"
                                                class="help-block">Your password is required.</p>
                                            <p class="validation-error" ng-show="consumerForm.password.$error.minlength && (consumerForm.password.$dirty || submitted)"
                                                class="help-block">Password must be between 8 and 20 characters.</p>
                                            <p class="validation-error" ng-show="consumerForm.password.$error.pattern && (consumerForm.password.$dirty || submitted)"
                                                class="help-block">Must contain one lower and uppercase letter, and one non-alpha character (a number
                                                or a symbol.)</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : consumerForm.passwordConfirm.$invalid && (consumerForm.passwordConfirm.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Confirrm Password')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="password" class="form-control" name="passwordConfirm" ng-model="newConsumer.passwordConfirm" ng-required="true">
                                            <p class="validation-error" ng-show="consumerForm.passwordConfirm.$error.required && (consumerForm.passwordConfirm.$dirty || submitted)"
                                                class="help-block">Your password is required.</p>
                                            <p class="validation-error" ng-show="(consumerForm.passwordConfirm.$dirty && consumerForm.password.$dirty) && (newConsumer.password !=newConsumer.passwordConfirm)"
                                                class="help-block">Your password is not matched</p>
                                        </section>
                                    </div>
                                </div>-->
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : consumerForm.office_number.$invalid && (consumerForm.office_number.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Office Number')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="number" class="form-control" name="office_number" ng-model="newConsumer.office_number" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                                                ng-minlength="10" ng-maxlength="10" ng-required="true">
                                            <p class="validation-error" ng-show="consumerForm.office_number.$error.required && (consumerForm.office_number.$dirty || submitted)"
                                                class="help-block">Enter a valid Office phone number</p>
                                            <p class="validation-error" ng-show="consumerForm.office_number.$error.minlength && (consumerForm.office_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit office phone number.</p>
                                            <p class="validation-error" ng-show="consumerForm.office_number.$error.maxlength && (consumerForm.office_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit office phone number.</p>
                                            <p class="validation-error" ng-show="consumerForm.office_number.$error.pattern" class="help-block">Please Enter 10 digit office phone number only.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{'has-error' : consumerForm.mobile_number.$invalid && (consumerForm.mobile_number.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Mobile No')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="number" class="form-control" name="mobile_number" ng-model="newConsumer.mobile_number" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                                                ng-minlength="10" ng-maxlength="10" ng-required="true">
                                            <p class="validation-error" ng-show="consumerForm.mobile_number.$error.required && (consumerForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Enter a valid Mobile phone number</p>
                                            <p class="validation-error" ng-show="consumerForm.mobile_number.$error.minlength && (consumerForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit Mobile number.</p>
                                            <p class="validation-error" ng-show="consumerForm.mobile_number.$error.maxlength && (consumerForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit Mobile number.</p>
                                            <p class="validation-error" ng-show="consumerForm.mobile_number.$error.pattern" class="help-block">Please Enter 10 digit Mobile number only.</p>
                                        </section>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="submit(newConsumer);" ng-disabled="!consumerForm.$valid">Submit</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteConsumerPopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{consumerAction}} Consumer</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid">
                            <fieldset>
                                <h5>Do you really want to this {{currentConsumer.first_name}} ?</h5>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="consumerDelete();">Yes</button>
                        <button class="btn btn-default" ng-click="cancel();">No</button> </div>
                </div>
            </div>
        </div>
    </section>
</div>