<html>
<title>Login demo</title>
<head>
<style>
.error
{ 
 background-color:#f2dede;
}
</style>
</head>
<body bgcolor="pink" >
 
<form method="POST" action="/topic/nextpage/">{% csrf_token %}<br>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{{jsondata}}
<h1> register</h1>
<table>
<tr>
   <th>id_count</th>
   <th>first_name</th>
  <th>Last_name</th>
  <th>username</th>
  <th>foreign key obj"password"</th>
  <th>Image</th>
   </tr>
{% for obj in jsondata %}
    
  <tr>
  
  <td>{{obj.mobile}}</td><p>
  <td>{{obj.userid}}</td>
  <td>{{obj.userobject.password}}</td>
    <td>{{obj.userobject.username}}</td>
    <td>{{obj.userobject.last_name}}</td>
     <td>{{obj.userobject.email}}</td>
   </tr>
{% endfor %}
</table>

<div class="form-group">
<div class="col-sm-4">
<input type="text"  class="form-control" name="username"data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)">
</div>

<div class="col-sm-4">
<input type="password" class="form-control" name="password" data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)">
</div>
<div class="col-sm-4">
<input type="submit" name="login" value="login">
</div>
</div>
</form>

<a href="/topic/register/">New Member</a>


<script>
window.location.hash="please sign in";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="please sign in";}
</script> 


{% load static %}
<script src="{% static 'js/demo.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
